syntax on
set number
set relativenumber
set showmatch
set hlsearch
runtime! archlinux.vim
set tabstop={{ tabstop_num }}
set shiftwidth={{ shiftwidth_num }}
set softtabstop={{ softtabstop_num }}
set expandtab
set smartindent
set cc=120
set clipboard+=unnamedplus

filetype plugin on

