* {
    background-color: rgba(0, 0, 0, 0.5);
    color: #dddddd;
    padding: 0 1px;
}

#clock {
}

#pulseaudio {
    background-color: rgba(90, 90, 0, 0.5);
    padding: 1px 7px;
    border-radius: 10px;
}
