#!/bin/zsh

autoload -Uz vcs_info
precmd() { vcs_info }
zstyle ':vcs_info:git:*' formats '(%F{red}%b%f) '
setopt PROMPT_SUBST
setopt HIST_IGNORE_SPACE
PROMPT='%F{green}%1~%f ${vcs_info_msg_0_}%F{blue}$%f '

# EXPORTS
{% for i in exports %}
export {{ i }}
{% endfor %}

# ALIASES
alias re-init='source ~/.zshrc'
alias ls='ls --color=auto'
alias grep='grep --color=auto'

# ADDITIONAL ALIASES
{% for i in zshrc_aliases %}
alias {{ i }}
{% endfor %}

# VARS
{% for i in blocks %}
{{ i }}
{% endfor %}
